body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--lightbackground);
}

:root {
    --success: rgb(126, 179, 66);
    --danger: rgb(204, 80, 80);
    --darkbackground: #293948;
    --darker: #0D161D;
    --lightbackground: #eaebed;
    --disabled: rgba(149, 149, 149, 0.712);
    --primary: #579597;
    --robot1: #00b4be;
    --robot2: #ffaa67;
}

#app {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

#contentPage{
    height: 100vh;
}

.pageContentView{
    height: 100vh;
}

#logo {
    width: 50%;
    align-items: center;
}

#logoContainer {
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#selectableTable{
    height: 55%;
}

#boxSelectableTable{
    background-color: var(--darkbackground);
}